{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Hero Section -->
    <section class="hero bg-primary text-white text-center py-5">
        <div class="container">
            <h1 class="display-5 mb-4">Welcome to Observastore</h1>
            <p class="lead">Your one-stop shop for telescopes and accessories. Explore the stars with the best equipment!</p>
            <a href="#shop" class="btn btn-light btn-lg">Explore the Shop</a>
        </div>
    </section>

{% endblock %}

