
body {
    background-color: grey;
    color: black;
}

.navbar {
    background-color: silver !important;
    color: black;
    text-align: center;
}

.navbar .nav-link {
    color: black;
}

.navbar .navbar-brand {
    color: black;
}

.navbar .nav-item:hover .nav-link {
    color: #333;
}

.navbar-nav {
    display: flex;
    justify-content: space-around; /* Or use 'space-evenly' if you want a little more even distribution */
    width: 100%;
}

.navbar-nav .nav-item {
    padding: 0 15px; 
}



/* Ensure the footer stays at the bottom of the page */
footer {
    background-color: silver;
    color: black;
    position: absolute; /* Position it absolutely relative to the page */
    bottom: 0;          /* Push it to the bottom */
    width: 100%;        /* Make the footer span the entire width */
    text-align: center; /* Center the content in the footer */
    padding: 10px 0;    /* Add some padding to the footer */
}

