
body {
    background-color: grey;
    color: black;
    height: 100vh;
}

body {
    background-color: grey;
    background: url('/media/pexels-stefanprutschphotography-6471068.jpg');
    background-size: cover;
    font-family: "Montserrat", sans-serif;
}

.navbar {
    background-color: silver !important;
    color: black;
    text-align: center;
}

.navbar-light .navbar-nav .nav-link {
    color: black !important;
    
}

.navbar-light .navbar-nav .nav-link:hover {
    color:darkblue !important;
    transform:scale(1.1);
        
}

.navbar .nav-link {
    color: black;
}

.navbar .navbar-brand {
    color: black;
}

.navbar .nav-item:hover .nav-link {
    color: #333;
}

.navbar-nav {
    display: flex;
    justify-content: space-around; /* Or use 'space-evenly' if you want a little more even distribution */
    width: 100%;
}

.navbar-nav .nav-item {
    padding: 0 15px; 
}

#hero-img-section {
    height: 640px;
    width: 100%;
    background: url('/media/stargazing.jpg');
    background-color: black;
    margin-top: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#hero-container {
    margin-top: 165px;
}



/* Ensure the footer stays at the bottom of the page */
footer {
    background-color: silver;
    color: black;
    position: absolute; /* Position it absolutely relative to the page */          /* Push it to the bottom */
    width: 100%;        /* Make the footer span the entire width */
    text-align: center; /* Center the content in the footer */
    padding: 10px 0;    /* Add some padding to the footer */
    bottom: 0;
    
}


@media screen and (max-width: 999px) {
    #hero-img-section {
        margin-top: 5%;
    }
}

@media screen and (min-height: 1100px) {
    #hero-img-section {
        margin-top: 100px;
    }
}
