{% extends "account/base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock head_title %}

{% block content %}
<!-- Fullscreen Fluid Container with Black to Space Grey Gradient Background -->
<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 100vh; background: linear-gradient(45deg, #212121, #424242);">
    <div class="card shadow-lg" style="max-width: 400px; width: 100%; background-color: rgba(33, 33, 33, 0.8); border-radius: 15px;">
        <div class="card-body">
            <h1 class="text-center text-white mb-4">{% trans "Account Inactive" %}</h1>

            <p class="text-center text-white mb-4">{% trans "This account is inactive." %}</p>
        </div>
    </div>
</div>
{% endblock content %}

