{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}
    {% trans "Email Address" %}
{% endblock head_title %}

{% block content %}
<!-- Fullscreen Fluid Container with Black to Space Grey Gradient Background -->
<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 100vh; background: linear-gradient(45deg, #212121, #424242);">
    <div class="card shadow-lg" style="max-width: 500px; width: 100%; background-color: rgba(33, 33, 33, 0.8); border-radius: 15px;">
        <div class="card-body">
            <h1 class="text-center text-white mb-4">{% trans "Email Address" %}</h1>
            
            {% if emailaddresses %}
                {% if current_emailaddress %}
                    <p class="text-center text-white">
                        {% trans 'The following email address is associated with your account:' %} 
                        <a href="mailto:{{ current_emailaddress.email }}" class="text-primary">{{ current_emailaddress.email }}</a>
                    </p>
                {% endif %}
                
                {% if new_emailaddress %}
                    <p class="text-center text-white">
                        {% trans 'Your email address is still pending verification:' %}
                        <a href="mailto:{{ new_emailaddress.email }}" class="text-primary">{{ new_emailaddress.email }}</a>
                    </p>
                    <form method="post" action="{% url 'account_email' %}" class="text-center">
                        {% csrf_token %}
                        <input type="hidden" name="email" value="{{ new_emailaddress.email }}">
                        <button type="submit" name="action_send" class="btn btn-warning custom-button">{% trans 'Re-send Verification' %}</button>
                    </form>
                {% endif %}
            {% else %}
                {% include "account/snippets/warn_no_email.html" %}
            {% endif %}
            
            <h2 class="text-center text-white mt-4">{% trans "Change Email Address" %}</h2>
            <form method="post" action="{% url 'account_email' %}" class="text-center">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <button name="action_add" type="submit" class="btn btn-primary w-100 custom-button">{% trans "Change Email" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

