{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}

<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 100vh; background: linear-gradient(45deg, #212121, #424242);">
    <div class="card shadow-lg" style="max-width: 400px; width: 100%; background-color: rgba(33, 33, 33, 0.8); border-radius: 15px;">
        <div class="card-body">
            <h1 class="text-center text-white mb-4">{% trans "Sign In" %}</h1>

            {% get_providers as socialaccount_providers %}

            {% if socialaccount_providers %}
            <p class="text-center text-white">
                {% blocktrans with site.name as site_name %}
                    Please sign in with one of your existing third-party accounts. Or, <a href="{{ signup_url }}" class="text-primary">sign up</a> for a {{ site_name }} account and sign in below:
                {% endblocktrans %}
            </p>

            <div class="socialaccount_ballot text-center mb-4">
                <ul class="socialaccount_providers list-inline">
                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                </ul>
                <div class="login-or text-white mb-3">{% trans 'or' %}</div>
            </div>
            {% include "socialaccount/snippets/login_extra.html" %}
            {% else %}
            <p class="text-center text-white">
                {% blocktrans %}If you have not created an account yet, then please <a href="{{ signup_url }}" class="text-primary">sign up</a> first.{% endblocktrans %}
            </p>
            {% endif %}

            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="form-group text-center">
                    <a class="btn btn-link text-white" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary w-100 custom-button" type="submit">{% trans "Sign In" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

