{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your Email Address" %}{% endblock head_title %}

{% block content %}
<!-- Fullscreen Fluid Container with Gradient Background -->
<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 100vh; background: linear-gradient(45deg, #212121, #424242);">
    <div class="card shadow-lg" style="max-width: 600px; width: 100%; background-color: rgba(33, 33, 33, 0.8); border-radius: 15px;">
        <div class="card-body text-white">
            <h1 class="text-center text-white mb-4">{% trans "Verify Your Email Address" %}</h1>
            <p class="text-center text-white mb-4">{% blocktrans %}We have sent an email to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification email in your main inbox, check your spam folder. Please contact us if you do not receive the verification email within a few minutes.{% endblocktrans %}</p>
        </div>
    </div>
</div>
{% endblock content %}

