{% load static %}
{% url 'about' as about_url %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Observastore - Observatory E-Commerce</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- Custom CSS from style.css file -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <!-- Navigation -->
    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">  <!-- Full-width container -->
                <!-- Observastore Home Button -->
                <a class="navbar-brand" href="{% url 'home' %}">Observastore</a>
    
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <!-- Desktop Search Bar (hidden on mobile/tablets) -->
                <form class="form-inline ml-auto my-2 my-lg-0 d-none d-lg-flex" action="{% url 'storefront' %}" method="GET">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search products..." name="q" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
    
                <!-- Navbar Links -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
    
                        <!-- Links for all users even if not signed in-->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Reviews</a>
                        </li>
    
                        <!-- New "All Products" Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="allProductsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Our Products
                            </a>
                            <div class="dropdown-menu" aria-labelledby="allProductsDropdown">
                                <h6 class="dropdown-header">View By:</h6>
                                <a class="dropdown-item" href="{% url 'storefront' %}?category=Telescopes">Telescopes</a>
                                <a class="dropdown-item" href="{% url 'storefront' %}?category=Globes">Globes</a>
                                <a class="dropdown-item" href="{% url 'storefront' %}?category=T-Shirts">T-Shirts</a>
                                <a class="dropdown-item" href="{% url 'storefront' %}">All Products</a>
                            </div>
                        </li>
    
                        <!-- Goods Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="goodsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Goods Filter
                            </a>
                            <div class="dropdown-menu" aria-labelledby="goodsDropdown">
                                <h6 class="dropdown-header">Sort by:</h6>
                                <a class="dropdown-item" href="{% url 'storefront' %}?sort=price_asc">By Price: Low to High</a>
                                <a class="dropdown-item" href="{% url 'storefront' %}?sort=price_desc">By Price: High to Low</a>
                                <a class="dropdown-item" href="{% url 'storefront' %}?sort=weight_asc">By Weight: Low to High</a>
                                <a class="dropdown-item" href="{% url 'storefront' %}?sort=weight_desc">By Weight: High to Low</a>
                                <!-- Alphabetical Order Filters -->
                                <a class="dropdown-item" href="{% url 'storefront' %}?alphabetical=asc">Alphabetical A-Z</a>
                                <a class="dropdown-item" href="{% url 'storefront' %}?alphabetical=desc">Alphabetical Z-A</a>
                            </div>
                        </li>
    
                        <!-- Check if the user is authenticated then if they are show new links.-->
                        {% if request.user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ request.user.username }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    {% if request.user.is_superuser %}
                                        <a href="" class="dropdown-item">Management</a>
                                    {% endif %}
                                    <a href="" class="dropdown-item">My Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{% url 'account_signup' %}" class="nav-link">Register</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'account_login' %}" class="nav-link">Login</a>
                            </li>
                        {% endif %}
    
                        <!-- Cart Item with Grand Total -->
                        <li class="list-inline-item">
                            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{}">
                                <div class="text-center">
                                    <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                    <p class="my-0">
                                        {% if grand_total %}
                                            ${{ grand_total|floatformat:2 }}
                                        {% else %}
                                            $0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
    
                        <!-- Mobile Search Bar inside Dropdown -->
                        <li class="nav-item dropdown d-block d-lg-none">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSearch" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Search
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownSearch">
                                <!-- Search Form for Mobile/Tablets -->
                                <form class="form-inline p-2" action="{% url 'storefront' %}" method="GET">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Search products..." name="q" aria-label="Search">
                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                                </form>
                            </div>
                        </li>
    
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Code taken from Boutique Ado by Code Institute -->
        <div id="delivery-banner" class="row text-center">
            <div class="col bg-black">
                <h4 class="logo-font my-1">Free delivery on orders over ${{ free_shipping_threshold }}!</h4>
            </div>
        </div>
    </header>
    

    <!-- Main Content  -->
    <div class="">
        {% block content %}
        <!-- Area for main content -->
        {% endblock %}
    </div>

    <footer class="text-center py-3">
        <p>&copy; 2025 Observastore. All Rights Reserved.</p>
    </footer>

    <!-- Bootstrap JS  -->
    <!-- Use the full jQuery version -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>  <!-- Full version of jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/6cc20290e7.js" crossorigin="anonymous"></script>
    <script src="/static/js/script.js"></script>

    <!-- Dropdown Slide Animation for the links such as search, all products and goods. -->
    <script>
        $(document).ready(function() {
            // Toggle slide down/up on dropdown click
            $(".nav-item.dropdown").click(function(e) {
                var $this = $(this);
                var $dropdownMenu = $this.find('.dropdown-menu');

                $('.dropdown-menu').not($dropdownMenu).slideUp('200');

                $dropdownMenu.stop(true, true).slideToggle(200);
                
        
                e.stopPropagation();
            });

            $(document).click(function(e) {
                if (!$(e.target).closest('.nav-item.dropdown').length) {
                    $('.dropdown-menu').slideUp(200);
                }
            });
        });
    </script>
</body>
</html>




